@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --mainRed: #e20715;
  --mainBlue: #2a2d7b;
}

body {
  background: var(--background);
  color: var(--foreground);
}